*{
  background-color: rgb(47, 38, 70);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title{
  padding: 2% 10%;
  text-align: center;
}

input{
  width: 90%;
  background-color: rgb(150, 182, 240);
  color: rgb(0, 0, 0);
  padding: 1%;
  font-size: 1.2rem;
}

