*{
  font-family: Helvetica, Arial, sans-serif;
  background-color: rgb(43, 51, 128);
  color: white;
}

body{
  padding: 2% 6%;
}

input{
  color: black;
  background-color: white;
  font-size: 1.2rem;
  width: 100%;
}


.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card{
  background-color: rgb(233, 69, 40);
  padding: 2%;
  align-content: center;
  border: 1px solid white;
  border-radius: 6px;
  overflow: hidden;
  margin: 10PX auto;
}

.card p{
  font-size: 1.1rem;
  background-color: rgb(233, 69, 40);
  padding: 1%;
  text-align: center;
}

.card img{
  max-height: 600px;
}

@media only screen and (max-width: 600px) {
  .card img{
    max-height: 200px;
  }
}